# entornos virtuales
.venv/

# datos grandes / privados
/data/

# cachés de Python
__pycache__/
*.pyc
*.pyo

# notebooks y outputs
.ipynb_checkpoints/

# Modelos y runs
runs/

# Samples
samples/

# Evals
evals/

tests/outputs

#Builds
build/

#Debug
debug/
exp/
