numpy<2
pandas
matplotlib
scipy
trimesh
tqdm
ninja
geomloss
loguru
einops
pytest
calmsize
tabulate
plyfile
psutil
h5py
open3d
huggingface-hub>=0.24
diffusers>=0.30
transformers>=4.41
comet-ml>=3.44
wandb>=0.18
point-cloud-utils
git+https://github.com/openai/CLIP.git
